<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://www.medecision.com">medecision</a>
			by <a href="https://alpha-blog-blake-grabsky.herokuapp.com/">Blake Grabsky</a>
		</small>
		<nav>
			<ul>
				<li> <%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>